body {
    background-color: #1b1c1d;
}

.top-fix {
    margin-top: 10px !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.big-text {
    font-size: 3em !important;
}

.small-text {
    font-size: 1.7em !important;
}